<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/main.css" rel="stylesheet" type="text/css">
    <title>Single Stock</title>
  </head>
  <body>
    <h3 class="title">Stock Price Checker</h3>
    <div class="left-side">

      <div class="single-stock-div">
        <h4>Single Stock Search</h4>
        <form class="sinlge-stock-form" action="/stock-price/" method="get">
          <div class="form-group">
            <label for="stock-input">Stock:</label>
            <input class="form-control" id="stock-input" type="text" name="ticker" placeholder="Enter stock*" required>
          </div>
          <div class="form-check checkbox-div">
            <label class="form-check-label" for="likeCheckBox">Do you like this stock?</label>
            <input name="like" type="checkbox" class="form-check-input" id="likeCheckBox">
          </div>
          <button type="submit" class="stock-button">Get Single Stock</button>
        </form>
        <hr>
      </div>

      <div class="double-stock-div">
        <h4>Double Stock Search</h4>
        <form class="double-stock-form" action="/stock-prices/" method="get">
          <div class="form-group">
            <label for="stock-input-one">Stock A:</label>
            <input class="form-control" id="stock-input-one" type="text" name="tickerOne" placeholder="Enter stock one*" required>
            <label for="stock-input-two">Stock B:</label>
            <input class="form-control" id="stock-input-two" type="text" name="tickerTwo" placeholder="Enter stock two*" required>
          </div>
          <div class="form-check checkbox-div">
            <label class="form-check-label" for="likeBothCheckBox">Do you like both?</label>
            <input name="likeBoth" type="checkbox" class="form-check-input" id="likeBothCheckBox">
          </div>
          <button type="submit" class="stock-button">Get Both Stocks</button>
        </form>
      </div>

    </div>
    <div class="right-side">
      <h4>Single Stock Data:</h4>
      <span>Symbol: <%= stock[0].ticker %></span><br>
      <span>Price: <%= stockPrice %></span><br>
      <span id="likesId">Likes: <%= stock[0].likes %></span>
    </div>
    <hr>
  </body>

</html>
