<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="/main.css" rel="stylesheet" type="text/css">
    <title>Homepage</title>
  </head>
  <body>
    <h3>Stock Price Checker</h3>
    <div class="left-side">

      <div class="single-stock-div">
        <h5>Single Stock Search</h5>
        <form class="sinlge-stock-form" action="/stock-price/" method="get">
          <div class="form-group">
            <label for="stock-input">Stock search:</label>
            <input class="form-control" id="stock-input" type="text" name="ticker" placeholder="Search for stock*" required>
          </div>
          <div class="form-check checkbox-div">
            <label class="form-check-label" for="likeCheckBox">Do you like this stock?</label>
            <input name="like" type="checkbox" class="form-check-input" id="likeCheckBox">
          </div>
          <button type="submit" type="button" class="btn btn-primary">Get Single Stock</button>
        </form>
        <hr>
      </div>

      <div class="double-stock-div">
        <h5>Double Stock Search</h5>
        <form class="double-stock-form" action="/stock-prices/" method="get">
          <div class="form-group">
            <label for="stock-input-one">Stock A:</label>
            <input class="form-control" id="stock-input-one" type="text" name="tickerOne" placeholder="Enter stock one*" required>
            <label for="stock-input-two">Stock B:</label>
            <input class="form-control" id="stock-input-two" type="text" name="tickerTwo" placeholder="Enter stock two*" required>
          </div>
          <div class="form-check checkbox-div">
            <label class="form-check-label" for="likeBothCheckBox">Do you like both stocks?</label>
            <input name="likeBoth" type="checkbox" class="form-check-input" id="likeBothCheckBox">
          </div>
          <button type="submit" type="button" class="btn btn-primary">Get Both Stocks</button>
        </form>
        <hr>
      </div>

    </div>
    <div class="right-side">
      <h6>Single Stock Data:</h6>
      <span>Symbol: <%= stock[0].ticker %></span><br>
      <span>Price: <%= stockPrice %></span><br>
      <span>Likes: <%= stock[0].likes %></span>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/main.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>

</html>
